<?xml version="1.0"?>
<config>
    <modules>
        <Meigee_ThemeOptionsFlatshop>
            <version>1.0.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </Meigee_ThemeOptionsFlatshop>
    </modules> 
    <admin>
        <routers>
            <adminhtml2>
                <use>admin</use>
                <args>
                    <module>Meigee_ThemeOptionsFlatshop</module>
                    <frontName>themeoptionsflatshop</frontName>
                </args>
            </adminhtml2>
        </routers>
    </admin>
    <frontend>
        <routers>
           <meigeefrontend>
              <use>standard</use>
              <args>
                 <module>Meigee_ThemeOptionsFlatshop</module>
                 <frontName>meigeeactions</frontName>
              </args>
           </meigeefrontend>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <meigeesettings>
                    <file>meigeesettings.xml</file>
                </meigeesettings>
            </updates>
        </layout>
        <menu>
            <meigee translate="title" module="ThemeOptionsFlatshop">
                <title>Meigee</title>
                <sort_order>9999</sort_order>
                <children>
                    <theme_options translate="title" module="ThemeOptionsFlatshop">
			<title>Theme Options v1.6</title>
                        <sort_order>1</sort_order>
                		<children>
				    <general_options translate="title" module="ThemeOptionsFlatshop">
		                        <title>General Options</title>
		                        <sort_order>1</sort_order>
		                        <action>adminhtml/system_config/edit/section/meigee_flatshop_general</action>
		                    </general_options>
				    <design_options translate="title" module="ThemeOptionsFlatshop">
		                        <title>Design Options</title>
		                        <sort_order>2</sort_order>
		                        <action>adminhtml/system_config/edit/section/meigee_flatshop_design
</action>
		                    </design_options>
		                    <productpage_options translate="title" module="ThemeOptionsFlatshop">
		                        <title>Product Page Options</title>
		                        <sort_order>3</sort_order>
		                        <action>adminhtml/system_config/edit/section/meigee_flatshop_productpage</action>
		                    </productpage_options>
		                    <sidebar_options translate="title" module="ThemeOptionsFlatshop">
		                        <title>Sidebar Options</title>
		                        <sort_order>4</sort_order>
		                        <action>adminhtml/system_config/edit/section/meigee_flatshop_sidebar</action>
		                    </sidebar_options>
		                    <headerslider_options translate="title" module="ThemeOptionsFlatshop">
		                        <title>Header Slider</title>
		                        <sort_order>5</sort_order>
		                        <action>adminhtml/system_config/edit/section/meigee_flatshop_headerslider</action>
		                    </headerslider_options>
		                    <bgslider_options translate="title" module="ThemeOptionsFlatshop">
		                        <title>Background Slider</title>
		                        <sort_order>6</sort_order>
		                        <action>adminhtml/system_config/edit/section/meigee_flatshop_bgslider</action>
		                    </bgslider_options>
                		</children>
                    </theme_options>
		    <restore_theme translate="title" module="ThemeOptionsFlatshop">
                        <title>Restore Defaults</title>
                        <sort_order>1</sort_order>
                        <action>themeoptionsflatshop/restore/index</action>
                    </restore_theme>
                    <activate_theme translate="title" module="ThemeOptionsFlatshop">
                        <title>Activate Theme</title>
                        <sort_order>1</sort_order>
                        <action>themeoptionsflatshop/activation/index</action>
                    </activate_theme>
                </children>
            </meigee>
        </menu>
    </adminhtml>
	<global>
		<page>
		    <layouts>
			<two_columns module="page" translate="label">
				<label>2 columns</label>
				<template>page/2columns.phtml</template>
				<layout_handle>page_two_columns</layout_handle>
			</two_columns>
		    </layouts>
		</page>
	<models>
            <!-- ... -->
            <ThemeOptionsFlatshop>
                <class>Meigee_ThemeOptionsFlatshop_Model</class>
            </ThemeOptionsFlatshop>   
            <!-- ... -->
        </models>
	<events>
	  <adminhtml_controller_action_predispatch_start>
	    <observers>
	      <Meigee_ThemeOptionsFlatshop_observer>
		<type>singleton</type>
		<class>Meigee_ThemeOptionsFlatshop_Controller_Observer</class>
		<method>overrideTheme</method>
	      </Meigee_ThemeOptionsFlatshop_observer>
	    </observers>
	  </adminhtml_controller_action_predispatch_start>  		  
	</events>
        <helpers>
            <ThemeOptionsFlatshop>
                <class>Meigee_ThemeOptionsFlatshop_Helper</class>
            </ThemeOptionsFlatshop>
        </helpers>
	    <extraconfig />
	    <blocks>
	    	<meigee_themeoptionsflatshop>
                    <class>Meigee_ThemeOptionsFlatshop_Block</class>
		</meigee_themeoptionsflatshop>
		<meigee_flatshop_general><class>Meigee_ThemeOptionsFlatshop_Block</class></meigee_flatshop_general>
		<meigee_flatshop_productpage><class>Meigee_ThemeOptionsFlatshop_Block</class></meigee_flatshop_productpage>
		<meigee_flatshop_sidebar><class>Meigee_ThemeOptionsFlatshop_Block</class></meigee_flatshop_sidebar>
		<meigee_flatshop_headerslider><class>Meigee_ThemeOptionsFlatshop_Block</class></meigee_flatshop_headerslider>
		<themeoptionsflatshop><class>Meigee_ThemeOptionsFlatshop_Block</class></themeoptionsflatshop>
        <page>
		    <rewrite>
				<html_topmenu>Meigee_ThemeOptionsFlatshop_Block_Html_Topmenu</html_topmenu>
		    </rewrite>
        </page>
		<customcolorsblock>
		    <class>Meigee_ThemeOptionsFlatshop_Block_EditCustomColors</class>
           	</customcolorsblock>
	    </blocks>
	</global>
	<!---->
	<default>
		<iwdall>
			<default>
				<jquery>0</jquery>
			</default>
		</iwdall>
		<onepagecheckout>
			<general>
				<enabled>1</enabled>
			</general>
		</onepagecheckout>
	    <custom_menu>
		<general>
		    <enabled>1</enabled>
		    <max_level>3</max_level>
		</general>
		<columns>
		    <integrate>0</integrate>
		</columns>
	    </custom_menu>
	    <price_slider>
		<price_slider_settings>
			<slider_loader_active>1</slider_loader_active>
			<include_jquery_ui>1</include_jquery_ui>
		</price_slider_settings>
		<ajax_conf>
			<layered>1</layered>
			<overlay_color>#000000</overlay_color>
			<overlay_opacity>0.3</overlay_opacity>
			<loading_text_color>#000000</loading_text_color>
		</ajax_conf>
	    </price_slider>
	    <design>
	         <header translate="welcome" module="page">
	             <welcome>Default welcome msg!</welcome>
	         </header>
	         <footer translate="copyright" module="page">
	             <copyright>&amp;copy; 2012 Magento Demo Store. All Rights Reserved.</copyright>
	         </footer>
	    </design>
		<meigee_flatshop_general>
			<appearance>
				<retina>1</retina>
				<font>2</font>
				<default_sizes>1</default_sizes>
				<fontsize>14</fontsize>
				<gfont>Rokkitt</gfont>
				<lineheight>20</lineheight>
				<fontweight>100</fontweight>
				<patern>none</patern>
			</appearance>
			<header>
				<floatingheader>0</floatingheader>
			</header>
			<layout>
				<sitelayout>0</sitelayout>
				<responsiveness>1</responsiveness>
				<sidebar>sidebar_left</sidebar>
				<grid>grid_standard</grid>
				<cartpage>cart_standard</cartpage>
			</layout>
			<customlogo>
				<logo_status>0</logo_status>
			</customlogo>
			<productimages>
				<keepAspectRatio>1</keepAspectRatio>
				<customAspectRatio>1.11</customAspectRatio>
			</productimages>
			<menu>
				<type>menu</type>
				<home>1</home>
				<additional>1</additional>
				<cat_button>1</cat_button>
				<megamenufull>1</megamenufull>
			</menu>
			<mycart>
			    <icon>1</icon>
			    <label>1</label>
			    <count>1</count>
			</mycart>
			<productlabels>
				<labelnew>1</labelnew>
				<labelonsale>1</labelonsale>
			</productlabels>
			<newsletter>
				<location>footer</location>
			</newsletter>
			<otheroptions>
				<totop>1</totop>
				<notices>1</notices>
			</otheroptions>
			<loginajax>
				<status>1</status>
			</loginajax>
			<lang_switcher>
				<status>language_select</status>
				<label>1</label>
			</lang_switcher>
			<curr_switcher>
				<status>currency_select</status>
				<label>1</label>
			</curr_switcher>
			<fancybox>
				<fancybox_status>0</fancybox_status>
				<fancybox_home>0</fancybox_home>
				<fancybox_listing>0</fancybox_listing>
			</fancybox>
			<rollover>
				<rollover_status>0</rollover_status>
			</rollover>
			<newsletter>
				<location>footer</location>
			</newsletter>
		</meigee_flatshop_general>
		<meigee_flatshop_design>
			<base>
			    <sitebg>f2f2f2</sitebg>
			    <maincolor>f44051</maincolor>
			    <secondcolor>2fb9b7</secondcolor>
			</base>
			<header>
			    <header_bg>ffffff</header_bg>
			    <nav_text>333333</nav_text>
			    <nav_active_text>ffffff</nav_active_text>
			    <nav_hover_bg>eeeeee</nav_hover_bg>
			    <nav_active_bg>2fb9b7</nav_active_bg>
			    <nav_button_border_radius>2</nav_button_border_radius>
			    <nav_divider_color>e7e7e7</nav_divider_color>
			    <search_form_bg>ececec</search_form_bg>
			    <search_form_input_text_color>999999</search_form_input_text_color>
			    <search_form_button_text_color>ffffff</search_form_button_text_color>
			    <search_form_button_bg_color>2fb9b7</search_form_button_bg_color>
			    <top_cart_button_bg>f44051</top_cart_button_bg>
			    <top_cart_button_text_color>ffffff</top_cart_button_text_color>
			    <top_cart_button_hover_bg>333333</top_cart_button_hover_bg>
			    <top_cart_button_hover_text_color>ffffff</top_cart_button_hover_text_color>
			    <toolbar_wrapper>dddddd</toolbar_wrapper>
			    <toolbar_links_text_color>777777</toolbar_links_text_color>
			    <toolbar_links_text_hover_color>ffffff</toolbar_links_text_hover_color>
			    <toolbar_links_bg_hover_color>2fb9b7</toolbar_links_bg_hover_color>
			    <lang_curr_label_color>999999</lang_curr_label_color>
			    <lang_curr_link_color>777</lang_curr_link_color>
			    <lang_curr_link_color_hover>333</lang_curr_link_color_hover>
			</header>
			<footer>
				<footer_main_bg>272727</footer_main_bg>
				<footer_columns_wrapper_bg>333333</footer_columns_wrapper_bg>
				<footer_text_color>aaa</footer_text_color>
				<footer_title_color>ffffff</footer_title_color>
				<footer_copyright_color>ffffff</footer_copyright_color>
				<footer_top_links_color>ffffff</footer_top_links_color>
				<footer_top_links_color_hover>aaa</footer_top_links_color_hover>
				<footer_list_link_color>aaa</footer_list_link_color>
				<footer_list_marker_color>2FB9B7</footer_list_marker_color>
				<footer_list_link_marker_color_hover>ffffff</footer_list_link_marker_color_hover>
				<footer_contact_form_text_color>999</footer_contact_form_text_color>
				<footer_contact_form_bg_color>000000</footer_contact_form_bg_color>
				<footer_contact_border_radius>3</footer_contact_border_radius>
				<footer_contact_button_color>F44051</footer_contact_button_color>
				<footer_contact_button_color_hover>2FB9B7</footer_contact_button_color_hover>
			</footer>
			<social_icons>
			    <social_icons_item_bg>171717</social_icons_item_bg>
			    <social_icons_item_bg_hover>2FB9B7</social_icons_item_bg_hover>
			    <social_icons_item_text_color>444</social_icons_item_text_color>
			    <social_icons_item_text_color_hover>ffffff</social_icons_item_text_color_hover>
			</social_icons>
			<listing>
			    <listing_title_color>333</listing_title_color>
			    <listing_title_color_hover>999</listing_title_color_hover>
			    <listing_description_color>777</listing_description_color>
			</listing>
			<product_labels>
			    <product_labels_new_color>ffffff</product_labels_new_color>
			    <product_labels_new_bg_color>2FB9B7</product_labels_new_bg_color>
			    <product_labels_sale_color>ffffff</product_labels_sale_color>
			    <product_labels_sale_bg_color>F44051</product_labels_sale_bg_color>
			</product_labels>
			<prices>
			    <prices_regular_color>333333</prices_regular_color>
			    <prices_old_color>999999</prices_old_color>
			</prices>
			<header>
				<header--slider_background-color>ffffff</header--slider_background-color>
			</header>
		</meigee_flatshop_design
>
		<meigee_flatshop_productpage>
			<productpage>
				<pagelayout>productpage_medium</pagelayout>
				<prevnext>prevnext</prevnext>
				<moreviews>moreviews_slider</moreviews>
				<collateral>collateral_tabs</collateral>
				<collateral_related>related_slider</collateral_related>
				<related_location>sidebar</related_location>
				<product_sharing>1</product_sharing>
			</productpage>
		</meigee_flatshop_productpage>
		<meigee_flatshop_sidebar>
			<block_categories>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_categories>
			<block_shop_by>
				<status>1</status>
			</block_shop_by>
			<block_compare>
				<status>1</status>
			</block_compare>
			<block_compared>
				<status>1</status>
			</block_compared>
			<block_viewed>
				<status>1</status>
			</block_viewed>
			<block_wishlist>
				<status>1</status>
				<option>1</option>
			</block_wishlist>
			<block_tags>
				<status>1</status>
			</block_tags>
			<block_orders>
				<status>1</status>
			</block_orders>
		</meigee_flatshop_sidebar>
		<meigee_flatshop_headerslider>
		    <coin>
				<enabled>1</enabled>
				<slidertype>1</slidertype>
				<slides>flatshop_slider_slide_1, flatshop_slider_slide_2, flatshop_slider_slide_3</slides>
				<slidesboxed>flatshop_slider_boxed_slide_1, flatshop_slider_boxed_slide_2, flatshop_slider_boxed_slide_3</slidesboxed>
				<onlyhome>1</onlyhome>
				<autoSlide>1</autoSlide>
				<autoSlideTimer>5000</autoSlideTimer>
				<autoSlideTransTimer>750</autoSlideTransTimer>
				<desktopClickDrag>1</desktopClickDrag>
				<infiniteSlider>0</infiniteSlider>
				<staticblock>flatshop_instead_of_slider</staticblock>
		    </coin>
		</meigee_flatshop_headerslider>
		<meigee_flatshop_bgslider>
		    <slides>
				<slide>default/background.jpg</slide>
				<slide_2>default/background_2.jpg</slide_2>
		    </slides>
		    <slideroptions>
				<enabled>0</enabled>
				<fade>750</fade>
				<duration>4000</duration>
		    </slideroptions>
		</meigee_flatshop_bgslider>
		<ajax>
			<wishlistcompare>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</wishlistcompare>
			<general>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</general>
			<ajaxtoolbar>
				<enabled>1</enabled>
			</ajaxtoolbar>
		</ajax>
	</default>
</config>
