<?xml version="1.0"?>
<config>
	<modules>
		<MOIP_Transparente>
			<version>0.2.1</version>
		</MOIP_Transparente>
	</modules>
	<global>
		<models>
			<transparente>
                <class>MOIP_Transparente_Model</class>
                <resourceModel>transparente_mysql4</resourceModel>
            </transparente>
            <transparente_mysql4>
                <class>MOIP_Transparente_Model_Mysql4</class>
                <entities>
                    <write>
                        <table>moip_transparente</table>
                    </write>
                </entities>
            </transparente_mysql4>
		</models>
		<resources>
			<transparente_setup>
				<setup>
					<module>MOIP_Transparente</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</transparente_setup>
			<transparente_write>
				<connection>
					<use>core_write</use>
				</connection>
			</transparente_write>
			<transparente_read>
				<connection>
                    <use>core_read</use>
                </connection>
			</transparente_read>
		</resources>
		<blocks>
			<transparente>
				<class>MOIP_Transparente_Block</class>
			</transparente>
		</blocks>
		<helpers>
			<transparente>
				<class>MOIP_Transparente_Helper</class>
			</transparente>
		</helpers>	
	</global>
	<frontend>
		<routers>
			<transparente>
				<use>standard</use>
				<args>
					<module>MOIP_Transparente</module>
					<frontName>Transparente</frontName>
				</args>
			</transparente>
		</routers>
		<translate>
			<modules>
				<transparente>
					<files>
						<default>transparente.csv</default>
					</files>
				</transparente>
			</modules>
		</translate>
		<layout>
			<updates>
				<transparente>
					<file>moip_transparente.xml</file>
				</transparente>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<MOIP_Transparente>
				<use>admin</use>
				<args>
					<module>MOIP_Transparente</module>
					<frontName>transparente</frontName>
				</args>
			</MOIP_Transparente>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<transparente>
					<files>
						<default>transparente.csv</default>
					</files>
				</transparente>
			</modules>
		</translate>
		<layout>
			<updates>
				<transparente>
					<file>transparente.xml</file>
				</transparente>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<cancelarBoleto>
				<schedule>
					<cron_expr>00 01 * * *</cron_expr>
				</schedule>
				<run>
					<model>Transparente/Orders::cancel</model>
				</run>
			</cancelarBoleto>
		</jobs>
	</crontab>
	<default>
		<payment>
			<moip_transparente_standard>
				<active>1</active>
				<model>MOIP_Transparente_Model_Standard</model>
				<title><![CDATA[Transparente]]></title>
				<title>Pagamento 100% Seguro - Transparente | Grupo IG</title>
				<order_status>pending</order_status>
				<validador_retorno>dsakdsa123das</validador_retorno>
				<validopara_transparente>1</validopara_transparente>
				<conta_transparente>elisei</conta_transparente>
				<apelido>Instalação Padrão MOIP | ALTERE PARA O NOME DA SUA EMPRESA</apelido>
				<notificar_cliente>1</notificar_cliente>
				<tipoderecebimento>1</tipoderecebimento>
				<pagamento_direto>1</pagamento_direto>
				<parcelamento>1</parcelamento>
				<jurostipo>1</jurostipo>
				<estoqueboleto>-99</estoqueboleto>
				<parcelamento_c_de1>1</parcelamento_c_de1>
				<parcelamento_c_ate1>12</parcelamento_c_ate1>
				<parcelamento_c_juros1>2.99</parcelamento_c_juros1>
				<parcelamento_s_juros2>1.25</parcelamento_s_juros2>
				<parcelamento_s_juros3>2.49</parcelamento_s_juros3>
				<parcelamento_s_juros4>3.74</parcelamento_s_juros4>
				<parcelamento_s_juros5>4.98</parcelamento_s_juros5>
				<parcelamento_s_juros6>6.23</parcelamento_s_juros6>
				<parcelamento_s_juros7>7.47</parcelamento_s_juros7>
				<parcelamento_s_juros8>8.72</parcelamento_s_juros8>
				<parcelamento_s_juros9>9.96</parcelamento_s_juros9>
				<parcelamento_s_juros10>11.21</parcelamento_s_juros10>
				<parcelamento_s_juros11>12.45</parcelamento_s_juros11>
				<parcelamento_s_juros12>13.70</parcelamento_s_juros12>
				<formas_pagamento>BoletoBancario,DebitoBancario,CartaoCredito</formas_pagamento>
				<nummaxparcelamax>12</nummaxparcelamax>
				<valorminimoparcela>5</valorminimoparcela>
				<vcmentoboleto>3</vcmentoboleto>
				<ambiente>teste</ambiente>
				<allowspecific>0</allowspecific>
			</moip_transparente_standard>
		</payment>
		<moipall>
			<config>
				<enable_jquery>1</enable_jquery>
				<icones_na_entrega>1</icones_na_entrega>
				<enable_carrinho>1</enable_carrinho>
				<transparente_layout>Horizontal</transparente_layout>
			</config>
		</moipall>
	</default>
</config>
